* {
    font-family: 'Baloo Thambi 2', cursive;
}


.textoRojo {
    color: red;
}

._cwidth {
    width: 18rem;
    margin-top: 10px;
    margin-right: 5px;
}

.tarjetaimagen {
    width: 224px;
    height: 224px;
    overflow: hidden;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImagenProducto {
    width: 224px;
    height: auto;
}

.tarjeta {
    margin: 0 8px 16px;
    min-width: 224px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}


.tarjetaprecion {
    position: relative;
    border-top: 1px solid rgba(51, 51, 51, .1);
    padding: 10px;
}

.tarjetaLetraPrecio {
    color: #333;
    font-size: 20px;
    line-height: 1.2;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.tarjetaLetraNombre {
    color: #333;
    font-size: 24px;
    line-height: 1.2;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

body {

    margin: 0px !important;
}

.contenedor {
    width: 100%;
    overflow: hidden;

}

.bartitulo{
    margin-top: 2px;
    height: 1px;
    color: #fff;
    margin-bottom: 2px;    
}
/* position: absolute; */
.topbar {
    width: 100%;
    background-color: #4e995a;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.usuariobar {

    width: 200px;
    background-color: #4e995a;
    height: 80px;
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -5px;
}

.usuariobarra {
    margin-top: 2px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 2px;
}

.btntopbar {

    color: #fff;
    background-color: #4e995a;
    border: 0;
}

.contenedorTarjetas {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 10px;
  
}

.btnTarjeta {
    padding: 0 10px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #4e995a;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    width: 100%;



}

.usariospan {

    color: #fff;
    font-size: 17px;

}

.contonedorForm {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;

}

.cajas {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}